*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}	
/* Navbar */
.navbar {
	position: relative;
	z-index: 1;
}
.navbar-brand {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
}
/*Jumbotron*/
.jumbotron{
	background-image: url(img/memberback.png);
	background-size: cover;
	height: 100vh;
}
.display-4{
    font-size: 7vh;
    padding-top: 30vh;
    color: #f3a5bc;
    filter: grayscale(0%);
    font-weight: 540;
    cursor: default;
}
.ke2{
	font-size: 10vh;
	padding-top: 0;
    color: #f3a5bc;
    font-weight: 520;
    font-family: 'Black Han Sans', sans-serif;
}
.ke2 span{
	font-size: 10vh;
	color: #f2c9ff;
	font-weight: 540;
}

.span2{
    font-size: 2vh;
    filter: grayscale(0%);
    font-weight: 540;
    cursor: default;
}
.jumbotron input{
	width: 90%;
	max-width: 840px;
	height: 55px;
	border-radius: 30px;
	border: none;
	padding: 0 30px;
	outline: none;
	margin: 20px 0;
	font-size: 16px;
}
::placeholder{
	font-weight: 500;
	font-size: 16px;
}
.jumbotron a{
	text-decoration: none;
	color: white;
	font-size: 22px;
    padding-top: 40vh;
    filter: grayscale(0%);
    font-weight: 540;
}
.jumbotron p{
	font-size: 20px;
	font-weight: 600;
	word-spacing: 2px;
}
.jumbotron p a{
	width: 50%;
}
/*About*/
#about {
	background: black;
	padding: 5vh 0 5vh 0;
}
.about{
	padding-bottom: -80px;
}
.image{
	margin-bottom: 25px;
	width: 560;
}
.tabout {
	text-transform: capitalize;
	font-size:  25px;
	font-weight: bold;
	text-align: center;	
	color: #f4a4bc;
}
.isi{
	font-size: 17px;
	margin:  10px 0;
	color: #f4acbc;
	text-align: center;
}
/*member*/
#team{
	background: linear-gradient(#060606, #F4ACBC);
	padding: 15vh 0 2vh 0;
}
.social a{
	color: #f4acbc;
}
.social a:hover{
	color: black;
	text-decoration: none;
}
.team .member{
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 5px;
	background-color: #fff;
	transition: 0.3s;
}
.team .member:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transform: scale(1.04);
	cursor: pointer;
}
.team .member .member-img{
	position: relative;
	overflow: hidden;
}
.team .member .member-img img:hover{
	filter: blur(3px);
}
.team .member .social{
	position: absolute;
	left: 0;
	top: 35vh;
	right: 0;
	opacity: 0;
	transition: ease-in-out 0.3s;
	text-align: center;
}
.team .member:hover .social{
	opacity: 1;
	bottom: 15px;
}
.team .member .social a{
	transition: color 0.3s;
}
.team .member .social a{
	transition: color 0.3s;
	color: black;
	margin: 0 3px;
	padding-top: 7px;
	border-radius: 50px;
	width: 36px;
	height: 36px;
	background-color: #f4acbc;
	display: inline-block;
	transition: ease-in-out 0.3s;
	color: white;
}
.team .member .social a:hover{
	background-color: black;
}
.team .member .social i{
	font-size: 18px;
}
.team .member .member-info{
	padding: 15px 15px;
}
.team .member .member-info h3{
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 22px;
	color: #f4acbc;
}
.team .member .member-info h4{
	font-size: 17px;
	font-weight: 500;
}
.team .member .member-info h2{
	font-size: 18px;
	font-weight: 600;
	color: #7D5961;
}

/*section member*/
.section-title{
	text-align: center;
	color: #f4a4bc;
	padding-bottom: 6vh;
	position: relative;
}
.section-title h2{
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
/*Album*/
#album{
	background: linear-gradient(#F4ACBC, #060606);
	padding: 15vh 0 41vh 0;
}	
.team .album{
	margin-bottom: 25px;
	margin-right: 0px;
	overflow: hidden;
}
.team .album .member-img{
	position: relative;
	overflow: hidden;
}
.team .album:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transform: scale(1.04);
	cursor: pointer;
}
.button {
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 30px;
    border-radius: 28px;
    transition: background 0.5s;
    text-decoration: none;
}
.button:hover {
    background: #fc8da4;
    color: white;
}
/*Title Album*/
.title{
	text-align: center;
	color: black;
	padding-bottom: 8vh;
	position: relative;
}
.title h2{
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.tittle p{
	padding-bottom: 15vh;
	font-weight: 560;
}
/*Single*/
#single{
	background: black;
	padding-bottom: 15vh;
	padding-top: 5vh;
}
.single{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.judul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.section-judul{
	text-align: center;
	color: #f4a4bc;
	padding-bottom: 0vh;
	position: relative;
}
.section-judul h2{
	font-size: 34px;
	font-weight: bold;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 45px;
	line-height: 60px;
	margin: 25px 0;
	color: #fc8da4;
}
.col-2 p{
	color: white;
	font-size: 21px;
}
.btn {
    display: inline-block;
    background: #fc8da4;
    color: white;
    padding: 8px 30px;
    border-radius: 28px;
    transition: background 0.5s;
}
.btn:hover {
    background: #fabab6;
    color: black;
}
.judul a{
    text-decoration: none;
}
/*Playlist*/
#playlist{
	background: linear-gradient(#060606, #F4ACBC);
	padding: 10vh 0 10vh 0;
}
.bisa .music-container{
	display: flex;
	align-items: center;
	flex-flow: column;
}
.bisa .music-container .box{
	height: 16rem;
	width: 90%;
	display: flex;
	align-items: center;
	background: white;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	margin: 2rem;
}
.bisa .music-container .box .images{
	height: 100%;
	width: 25%;
}
.bisa .music-container .box .images img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.bisa .music-container .box .music{
	width: 75%;
}
.bisa .music-container .box .music audio{
	width: 100%;
	outline: none;
}
.bisa .music-container .box .music audio::-webkit-media-controls-eclosure{
	background: none;
}
/*award*/
#award{
	background: linear-gradient(#F4ACBC, #0e020f);
	padding: 5vh 0 30vh;
}
.award-card{
	padding-bottom: 28px;
}
.pe{
	background-color: black;
	color: #F4ACBC;
	border-radius: 10px;
}
.card-body h5{
	font-size: 22px;
	text-transform: capitalize;
}
.card-body p{
	color: white;
	font-size: 16px;
}
.card-body span{
	text-transform: capitalize;
}
/*footer*/
.btn-floating{
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    transition: background 0.5s;
}
.babi{
	border-radius: 50%;
    transition: background 0.5s;
    font-size: 12px;
    padding: 13px 16px;
}
.ikon{
	border-radius: 25%;
    transition: background 0.5s;
    font-size: 12px;
    padding: 8px 12px;
}
.ikon:hover{
	background-color: black;
	color: white;
}
.footer{
	display: flex;
	justify-content: center;
	padding-top: 15px; 
	text-transform: capitalize;
}
.image12{
	padding-right: 12px;
}
.copyright{
	text-decoration: none;
}
/*footer product*/
.products{
	text-decoration: none;
	color: black;
}
.products:hover{
	color: #ff96b1;
}
.span-title{
	font-size: 20px;
	padding-top: 20px;
}
.bg-fotter{
	padding-top: 2vh;
	background-color: #ffdee6;
}
.image6{
	border-radius: 50%;
}
.imageg img{
	margin-top: -20px;
}
.kelas{
	margin-top: -25px;
	display: flex;
	align-items: center;
}
/*Large devices (desktops, 992px and up*/
@media (min-width: 992px) {
	/*Navbar*/
	.nav-link{
		margin-right: 25px;
		text-transform: uppercase;
	}
	.navbar-brand, .nav-link{
		color: #f4a4bc !important;
	}
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid white;
		width: 80%;
		margin: auto;
		padding-bottom: 4px;
		margin-bottom: -8px;
	}
	/*Jumbotron*/
	.jumbotron{
		margin-top: -78px;
	}
	.jumbotron p{
		font-size: 20px;
		font-weight: 600;
		word-spacing: 2px;
	}
	.jumbotron p a{
		width: 50%;
	}
	.display-4{
	    font-size: 10vh;
	    padding-top: 40vh;
	    color: #f8a4bc;
	    filter: grayscale(0%);
	    font-weight: 540;
	    cursor: default;
	}
	.ke2{
		font-size: 10vh;
		padding-top: 0;
	    color: black;
	    font-weight: 640;
	    font-family: 'Black Han Sans', sans-serif;
	}
	.ke2 span{
		font-size: 10vh;
		color: #f8a4bc;
		font-weight: 640;

	}
	/*About*/
	#about {
		background: black;
		padding: 15vh 0 15vh 0;
	}
	.about{
		padding-bottom: -80px;
	}
	.tabout {
		text-transform: capitalize;
		font-size:  30px;
		font-weight: bold;
		text-align: center;	
		color: #fccafb;
		padding-top: 150px;
		text-align: center;
	}
	.isi{
		font-size: 17px;
		margin:  25px 0;
		color: #f4acbc;
		text-align: center;
	}
	/*album*/
	#album .album .button{
		left: 7.5%;
		bottom: 22px;
		right: 0;
	}
	/*footer*/
}
@media (max-width: 600px){
	.bisa .music-container .box{
		height: 27rem;
		width: 90%;
		flex-flow: column;
	}
	.bisa .music-container .box .images{
		height: 80%;
		width: 100%;
	}
	.bisa .music-container .box .music{
		height: 50%;
		width: 100%;
		display: flex;
		align-items: center;
	}
	/*footer*/
	.imagef{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.image12{
		padding-right: 10px;
	}
}
