*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}	
/* Navbar */
.navbar {
	position: relative;
	z-index: 1;
}
.navbar-brand {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
}
/*Jumbotron*/
.jumbotron{
	background-image: url(img/memberback.png);
	background-size: cover;
	height: 100vh;
}
.display-4{
    font-size: 7vh;
    padding-top: 30vh;
    color: #f3a5bc;
    filter: grayscale(0%);
    font-weight: 540;
    cursor: default;
}
.ke2{
	font-size: 10vh;
	padding-top: 0;
    color: #f3a5bc;
    font-weight: 520;
    font-family: 'Black Han Sans', sans-serif;
}
.ke2 span{
	font-size: 10vh;
	color: #f2c9ff;
	font-weight: 540;
}

.span2{
    font-size: 2vh;
    filter: grayscale(0%);
    font-weight: 540;
    cursor: default;
}
.jumbotron input{
	width: 90%;
	max-width: 840px;
	height: 55px;
	border-radius: 30px;
	border: none;
	padding: 0 30px;
	outline: none;
	margin: 20px 0;
	font-size: 16px;
}
::placeholder{
	font-weight: 500;
	font-size: 16px;
}
.jumbotron a{
	text-decoration: none;
	color: white;
	font-size: 22px;
    padding-top: 40vh;
    filter: grayscale(0%);
    font-weight: 540;
}
.jumbotron p{
	font-size: 20px;
	font-weight: 600;
	word-spacing: 2px;
}
.jumbotron p a{
	width: 50%;
}
/*About*/
#about {
	background: black;
	padding: 5vh 0 5vh 0;
}
.about{
	padding-bottom: -80px;
}
.image{
	margin-bottom: 25px;
	width: 560;
}
.tabout {
	text-transform: capitalize;
	font-size:  25px;
	font-weight: bold;
	text-align: center;	
	color: #f4a4bc;
}
.isi{
	font-size: 17px;
	margin:  10px 0;
	color: #f4acbc;
	text-align: center;
}
/*member*/
#team{
	background: linear-gradient(#060606, #F4ACBC);
	padding: 15vh 0 2vh 0;
}
.social a{
	color: #f4acbc;
}
.social a:hover{
	color: black;
	text-decoration: none;
}
.team .member{
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 5px;
	background-color: #fff;
	transition: 0.3s;
}
.team .member:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transform: scale(1.04);
	cursor: pointer;
}
.team .member .member-img{
	position: relative;
	overflow: hidden;
}
.team .member .member-img img:hover{
	filter: blur(3px);
}
.team .member .social{
	position: absolute;
	left: 0;
	top: 40vh;
	right: 0;
	opacity: 0;
	transition: ease-in-out 0.3s;
	text-align: center;
}
.team .member:hover .social{
	opacity: 1;
	bottom: 15px;
}
.team .member .social a{
	transition: color 0.3s;
}
.team .member .social a{
	transition: color 0.3s;
	color: black;
	margin: 0 3px;
	padding-top: 7px;
	border-radius: 50px;
	width: 36px;
	height: 36px;
	background-color: #f4acbc;
	display: inline-block;
	transition: ease-in-out 0.3s;
	color: white;
}
.team .member .social a:hover{
	background-color: black;
}
.team .member .social i{
	font-size: 18px;
}
.team .member .member-info{
	padding: 15px 15px;
}
.team .member .member-info h3{
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 22px;
	color: #f4acbc;
}
.team .member .member-info h4{
	font-size: 17px;
	font-weight: 500;
}
.team .member .member-info h2{
	font-size: 18px;
	font-weight: 600;
	color: #7D5961;
}

/*section member*/
.section-title{
	text-align: center;
	color: #f4a4bc;
	padding-bottom: 6vh;
	position: relative;
}
.section-title h2{
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
/*Album*/
.team .album .btn{
	position: absolute;
	left: 0;
	top: 40vh;
	right: 0;
	opacity: 0;
	transition: ease-in-out 0.3s;
	text-align: center;
}
.team .album:hover .btn{
	opacity: 1;
	bottom: 15px;
}
.team .member .social a{
	transition: color 0.3s;
}
.team .member .social a{
	transition: color 0.3s;
	color: black;
	margin: 0 3px;
	padding-top: 7px;
	border-radius: 50px;
	width: 36px;
	height: 36px;
	background-color: #f4acbc;
	display: inline-block;
	transition: ease-in-out 0.3s;
	color: white;
}
.team .member .social a:hover{
	background-color: black;
}
/*Large devices (desktops, 992px and up*/
@media (min-width: 992px) {
	/*Navbar*/
	.nav-link{
		margin-right: 25px;
		text-transform: uppercase;
	}
	.navbar-brand, .nav-link{
		color: #f4a4bc !important;
	}
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid white;
		width: 80%;
		margin: auto;
		padding-bottom: 4px;
		margin-bottom: -8px;
	}
	/*Jumbotron*/
	.jumbotron{
		margin-top: -78px;
	}
	.jumbotron p{
		font-size: 20px;
		font-weight: 600;
		word-spacing: 2px;
	}
	.jumbotron p a{
		width: 50%;
	}
	.display-4{
	    font-size: 10vh;
	    padding-top: 40vh;
	    color: #f8a4bc;
	    filter: grayscale(0%);
	    font-weight: 540;
	    cursor: default;
	}
	.ke2{
		font-size: 10vh;
		padding-top: 0;
	    color: black;
	    font-weight: 640;
	    font-family: 'Black Han Sans', sans-serif;
	}
	.ke2 span{
		font-size: 10vh;
		color: #f8a4bc;
		font-weight: 640;

	}
	/*About*/
	#about {
		background: black;
		padding: 15vh 0 15vh 0;
	}
	.about{
		padding-bottom: -80px;
	}
	.tabout {
		text-transform: capitalize;
		font-size:  30px;
		font-weight: bold;
		text-align: center;	
		color: #fccafb;
		padding-top: 150px;
		text-align: center;
	}
	.isi{
		font-size: 17px;
		margin:  25px 0;
		color: #f4acbc;
		text-align: center;
	}
	/*member*/
	
}